*.sdf
*.ipch
GameGuru IDE/Debug/GameGuru.tlog/BscMake.command.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/bscmake.read.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/bscmake.write.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/CL.command.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/CL.read.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/CL.write.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/custombuild.command.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/custombuild.read.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/custombuild.write.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/GameGuru.lastbuildstate
GameGuru IDE/Debug/GameGuru.tlog/link.command.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/link.read.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/link.write.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/rc.command.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/rc.read.1.tlog
GameGuru IDE/Debug/GameGuru.tlog/rc.write.1.tlog
GameGuru IDE/Debug/Editor.res
GameGuru IDE/Debug/vc140.idb
GameGuru IDE/Release/GameGuru.tlog/CL.command.1.tlog
GameGuru IDE/Release/GameGuru.tlog/CL.read.1.tlog
GameGuru IDE/Release/GameGuru.tlog/CL.write.1.tlog
GameGuru IDE/Release/GameGuru.tlog/custombuild.command.1.tlog
GameGuru IDE/Release/GameGuru.tlog/custombuild.read.1.tlog
GameGuru IDE/Release/GameGuru.tlog/custombuild.write.1.tlog
GameGuru IDE/Release/GameGuru.tlog/GameGuru.lastbuildstate
GameGuru IDE/Release/GameGuru.tlog/link.command.1.tlog
GameGuru IDE/Release/GameGuru.tlog/link.read.1.tlog
GameGuru IDE/Release/GameGuru.tlog/link.write.1.tlog
GameGuru IDE/Release/GameGuru.tlog/rc.command.1.tlog
GameGuru IDE/Release/GameGuru.tlog/rc.read.1.tlog
GameGuru IDE/Release/GameGuru.tlog/rc.write.1.tlog
GameGuru IDE/Release/Editor.res
GameGuru/GameGuru.map
GameGuru/Files/levelbank/testmap/
GameGuru/Files/editors/gridedit/cfg.cfg
GameGuru/reviewrequestreminder.ini
GameGuru/visuals.ini
GameGuru Core/GameGuru.VC.opendb
GameGuru Core/Guru-MapEditor/Debug/
GameGuru/Guru-Lightmapper.exp
GameGuru/Guru-Lightmapper.lib
GameGuru/Guru-MapEditor.exp
GameGuru/Guru-MapEditor.lib
*.lastbuildstate
*.tlog
*.res
*.bsc
*.cod
*.idb
GameGuru Core/Lib/
*.map
GameGuru Core/Guru-MapEditor/showonstartup.ini
GameGuru/Files/mapbank/_A_TEST_MAP.fpm
GameGuru/Media List Builder.iobj
GameGuru/Media List Builder.ipdb
GameGuru/Files/mapbank/_A_TEST_MAP.dat
GameGuru/Files/mapbank/_test.fpm
GameGuru/Files/mapbank/_test.dat
GameGuru Core/Guru-Lightmapper/Debug/m-lightmapping.obj.enc
GameGuru/Files/mapbank/_test2.fpm
GameGuru/Files/mapbank/_test2.dat
GameGuru/Files/entitybank/user/charactercreator/Lee.fpe
GameGuru/Files/entitybank/user/charactercreator/Lee.bmp
GameGuru Core/GameGuru.VC.db
GameGuru Core/GameGuru.VC.VC.opendb
GameGuru/Files/mapbank/Issues/ISSUE142-Test-Waypoint.fpm
GameGuru/Files/mapbank/_A_TEST_MAP2.fpm
GameGuru/Files/mapbank/_A_TEST_MAP2.dat
GameGuru/Files/mapbank/Custom Export.dat
*.log
*.pdb
*.obj
*.sbr
*.pch
*.exe
*.suo
*.user
*.bak
*.db
GameGuru Core/UseENCRYPTION - Shortcut.lnk
GameGuru Core/UseNONE - Shortcut.lnk
sh.exe.stackdump
GameGuru/Guru-MapEditor.ilk
GameGuru/Files/mapbank/worklevel.dat
GameGuru/Files/editors/gridedit/worklevel.fpm
GameGuru Core/.vs/GameGuru/v15/Solution.VC.db-shm
GameGuru Core/.vs/GameGuru/v15/Solution.VC.db-wal
GameGuru/Files/mapbank/_vrq2.fpm
GameGuru/Files/mapbank/_vrq2.dat
GameGuru/Files/mapbank/_vrq.fpm
GameGuru/Files/mapbank/_vrq.dat
GameGuru IDE/resVRQ/messages.h
GameGuru IDE/resVRQ/WorkArt/16x16-Icon.png
GameGuru IDE/resVRQ/WaypointToolBar.bmp
GameGuru IDE/resVRQ/TerrainToolbar.bmp
GameGuru IDE/resVRQ/Messages_GER.bin
GameGuru IDE/resVRQ/Messages_ENU.bin
GameGuru IDE/resVRQ/Game Creator Store Button.bmp
GameGuru IDE/resVRQ/Editor.rc2
GameGuru IDE/VRQ.vcxproj
GameGuru IDE/EditorVRQ.rc
GameGuru IDE/EditorVRQ.aps
GameGuru IDE/resVRQ/update_l.bmp
GameGuru IDE/resVRQ/messages.rc
GameGuru IDE/resVRQ/WorkArt/VRQuest-AppBranding-2019-10.png
GameGuru IDE/resVRQ/WorkArt/VRQuest-AppBranding-2019-04.png
GameGuru IDE/resVRQ/WorkArt/48x48-Icon.png
GameGuru IDE/resVRQ/StandardToolBar2.bmp
GameGuru IDE/resVRQ/StandardToolBar2 - Copy.bmp
GameGuru IDE/resVRQ/GameToolbar.bmp
GameGuru IDE/resVRQ/ZoomToolbar2.bmp
GameGuru IDE/resVRQ/WorkArt/vrq.ico
GameGuru IDE/resVRQ/WorkArt/32x32-Icon.png
GameGuru IDE/resVRQ/WorkArt/256x256-Icon.png
GameGuru IDE/resVRQ/ModeToolbar3.bmp
GameGuru/vrqcontrolmode.ini
GameGuru IDE/resVRQ/logo.bmp
GameGuru IDE/resVRQ/editor.ico
GameGuru IDE/resVRQ/WorkArt/24x24-Icon.png
GameGuru/GGWMR.ilk
GameGuru/GGWMR.exp
GameGuru IDE/resVRQ/WorkArt/VRQuest-AppBranding-2019-15.png
GameGuru/GGWMR.lib
GameGuru/Files/languagebank/english/artwork/branded/testgamelayout-vr.png
GameGuru/Files/languagebank/english/artwork/branded/testgamelayout-noweapons.png
GameGuru/Files/languagebank/english/artwork/branded/TGCBadge.bmp
GameGuru/Files/languagebank/english/artwork/branded/Getting Started Guide.docx
GameGuru/Files/languagebank/english/artwork/branded/aboutsplash.bmp
GameGuru/Files/languagebank/english/artwork/branded/Splsh16.bmp
GameGuru/Files/languagebank/english/artwork/branded/Getting Started Guide.pdf
GameGuru/Files/languagebank/english/textfiles/branded/ide-words.ini
GameGuru/Files/languagebank/english/artwork/welcome-assets/branded/splash-logo.bmp
GameGuru/_CopyForMultiplayerTesting.bat
GameGuru/installcode.dat
GameGuru/multiplayeravatar.dat
GameGuru/teacherviewallmode.dat
GameGuru IDE/resVRQ/
GameGuru/Files/entitybank/Characters/Uber Character.fpe
GameGuru/Files/entitybank/Characters/Uber Character.dbo
GameGuru/Files/entitybank/Characters/Uber Character.X
GameGuru/Files/entitybank/Characters/Uber Character.bmp
GameGuru/Files/entitybank/Characters/Uber Character_D2.dds
GameGuru/Files/languagebank/english/artwork/watermark/branded/
GameGuru/Files/languagebank/english/artwork/welcome/branded/
GameGuru/Files/languagebank/english/artwork/welcome-assets/branded/
ReplaceEncryptCode.lnk
GameGuru/SHOWTEST.dat
GameGuru/showannouncements.ini
GameGuru/localimagefile.png
GameGuru/installstamp.dat
GameGuru/DONTSHOWTEST.dat
see GameGuru Core for EncryptDownloadKeyEtc.txt
GameGuru IDE/GameGuru IDE.VC.VC.opendb
GameGuru/Files/languagebank/english/artwork/branded/TGCBadge2.bmp
GameGuru/Files/languagebank/english/artwork/branded/TGCBadge3.bmp
GameGuru/Files/mapbank/_test3.dat
GameGuru/Files/mapbank/_test3.fpm
GameGuru/Docs/UBER_MASTER_MAX_RIG.zip
GameGuru/Files/entitybank/user/leesmhprocess/myXfromFBX2GGpre.x
GameGuru/Files/entitybank/user/leesmhprocess/myXfromFBX2GGanims.x
GameGuru/Files/entitybank/user/leesmhprocess/myXfromFBX2GGanims.dbo
GameGuru/Files/entitybank/user/leesmhprocess/myXfromFBX2GGanims.BMP
GameGuru/Files/entitybank/user/leesmhprocess/brown_eye.png
GameGuru/Files/entitybank/user/leesmhprocess/bodycolor.png
GameGuru/Files/entitybank/user/leesmhprocess/myXfromFBX2GGpost.x
GameGuru/Files/entitybank/user/leesmhprocess/myXfromFBX2GGanims.fpe
GameGuru/Files/terrainbank/CUSTOM/superpalette.ter
GameGuruTrial/
GameGuru/Files/entitybank/user/onlyONEhandreferenceperHAND.fpe
GameGuru/Files/entitybank/user/onlyONEhandreferenceperHAND.BMP
GameGuru/Files/entitybank/user/onlyONEhandreferenceperHAND.dbo
GameGuru/Files/entitybank/user/survivalist/
GameGuru/Files/entitybank/user/zombieman/
GameGuru/Files/mapbank/MYTEST.fpm
GameGuru/Files/mapbank/MYTEST.dat
GameGuru/Guru-Lightmapper.ilk
GameGuru/Files/mapbank/level1.dat
GameGuru/Files/mapbank/level1.fpm
GameGuru/Files/mapbank/level2.dat
GameGuru/Files/mapbank/level2.fpm
GameGuru Core/.vs/GameGuru/v15/Browse.VC.opendb
GameGuru Core/UseNONE.bat
GameGuru Core/Dark Basic Public Shared/Lib/Animation.lib
GameGuru Core/Dark Basic Public Shared/Lib/Basic2D.lib
GameGuru Core/Dark Basic Public Shared/Lib/Basic3D.lib
GameGuru Core/Dark Basic Public Shared/Lib/Bitmap.lib
GameGuru Core/Dark Basic Public Shared/Lib/BlitzTerrain.lib
GameGuru Core/Dark Basic Public Shared/Lib/BlitzTerrain_RTTMSPlugin.lib
GameGuru Core/Dark Basic Public Shared/Lib/Bullet.lib
GameGuru Core/Dark Basic Public Shared/Lib/Camera.lib
GameGuru Core/Dark Basic Public Shared/Lib/ConvX.lib
GameGuru Core/Dark Basic Public Shared/Lib/CPU3D.lib
GameGuru Core/Dark Basic Public Shared/Lib/DarkAI.lib
GameGuru Core/Dark Basic Public Shared/Lib/DarkLUA.lib
GameGuru Core/Dark Basic Public Shared/Lib/DBDLLCore.lib
GameGuru Core/Dark Basic Public Shared/Lib/Enhancements.lib
GameGuru Core/Dark Basic Public Shared/Lib/File.lib
GameGuru Core/Dark Basic Public Shared/Lib/FTP.lib
GameGuru Core/Dark Basic Public Shared/Lib/Image.lib
GameGuru Core/Dark Basic Public Shared/Lib/InfiniteVegetation.lib
GameGuru Core/Dark Basic Public Shared/Lib/Input.lib
GameGuru Core/Dark Basic Public Shared/Lib/Light.lib
GameGuru Core/Dark Basic Public Shared/Lib/LightMapper.lib
GameGuru Core/Dark Basic Public Shared/Lib/Memblocks.lib
GameGuru Core/Dark Basic Public Shared/Lib/Setup.lib
GameGuru Core/Dark Basic Public Shared/Lib/Sound.lib
GameGuru Core/Dark Basic Public Shared/Lib/Sprites.lib
GameGuru Core/Dark Basic Public Shared/Lib/SteamMultiplayer.lib
GameGuru Core/Dark Basic Public Shared/Lib/System.lib
GameGuru Core/Dark Basic Public Shared/Lib/Text.lib
GameGuru Core/Dark Basic Public Shared/Lib/Vectors.lib
